<template name="tank1">
    <div class="fila">

        <div class="columna right">
            <div class="tank"></div>
            <div class="desc">
                <div class="smallcuad">
                    <a href="/second" class="glyphicon glyphicon-refresh" aria-hidden="true"></a>
                </div>
            </div>
        </div>

        <div class="columna">
            <div class="tank"></div>
            <div class="desc">
                <div class="smallcuad">
                    <i class="glyphicon glyphicon-stop" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</template>